body {
    margin: 0;
    padding: 0;
    height: 100vh;
    background-image: url(images/art-rachen-sM4r-swmcoY-unsplash.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}